/* https://codepen.io/pudgereyem/pen/PqBxQx converted to css and some props adjusted */

/* ========== Select Field ========== */
/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  padding: 4px 0;
  font-size: 16px;
  color: rgb(33, 150, 243);
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}
/* Remove focus */
select:focus {
  outline: none;
}
/* Hide label */
.mdl-selectfield label {
  display: none;
}
/* Use custom arrow */
.mdl-selectfield select {
  appearance: none;
}
.mdl-selectfield {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  position: relative;
}
.mdl-selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
 /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}