.btn.btn--fancy{
    background: #d41d46;
    font-size: large;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 0;
    display: inline-block;
    align-items: center;
  }
  
  .btn-inner {
    display: flex;
    align-items: center;
  } 
  .btn--fancy:hover {
    cursor: pointer;
    background: #f36987;
  }